# ======================
# .NET
# ======================
bin/
obj/
*.user
*.suo
*.db

# ======================
# VSCode
# ======================
.vscode/

# ======================
# Frontend
# ======================
node_modules/
dist/
.env

# ======================
# OS
# ======================
.DS_Store
Thumbs.db